@media only screen and (min-width: 1024px) {

    /* Layout */
    .grid-container-body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 80px 90px auto 80px;
        grid-template-areas:
                "header header header"
                ". title ."
                ". main ."
                "footer footer footer";
    }

    #header {
        grid-area: header;
        border-bottom: 1px black solid;
    }


    #title {
        grid-area: title;
    }

    #main {
        grid-area: main;
    }

    #footer {
        grid-area: footer;
        border-top: 1px black solid;
    }

    /* Header */

    .menuicon {
        display: none;
    }

    .navigationlink {
        position: absolute;
        right: 10px;
        top: 5px;
        text-decoration: none;
        color: #454545;
        visibility: visible;

    }
    /* Nav */

    #Nav {
        display: none;
    }




}