/* Root/All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

html {
    font-size: 17px;
}


/* Layout */
.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: bisque;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 65px 75px auto 65px;
    grid-template-areas:
                "header header header"
                ". title ."
                ". main ."
                "footer footer footer";
}

#header {
    grid-area: header;
    background-color: darkkhaki;
}


#title {
    grid-area: title;
    background-color: #ff006f;
}

#main {
    grid-area: main;
    background-color: cyan;
}

#footer {
    grid-area: footer;
    background-color: darkorchid;
}

/* Header */

.icon {
    font-family: Asap;
    font-size: 2.5rem;
}
