*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon {
    font-family: Asap;
    font-size: 63pt;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 50px 50px 50px;
    background-color: #2196F3;
    justify-items: center;
    align-items: center;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}