/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url(//db.onlinewebfonts.com/c/a772aa8a7d2a778d9a2a43cc6d96ada3?family=Leelawadee);

/* Root/All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: inherit;

}

html {
    font-size: 17px;
    background-color: #d5c7bc;
}

p {
    color: #454545;
}

a {
    color: #123C69;
}

/* Layout */
.grid-container-body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 65px 65px auto 65px;
    grid-template-areas:
                "header header header"
                ". title ."
                ". main ."
                "footer footer footer";
}

#header {
    grid-area: header;
    border: 1px black solid;
}


#title {
    grid-area: title;
    border: 1px black solid;
}

#main {
    grid-area: main;
    border: 1px black solid;
}

#footer {
    grid-area: footer;
    border: 1px black solid;
}

/* Body */

body {

}

/* Header */

#header {
    position: fixed;
    width: 100%;
    background-color: #d5c7bc;
}

#header > .icon {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 5px;
}

#header > .logo {
    text-align: center;
}

/*Navigation */

.menuicon{
    font-size: 2.5rem;
    float: right;
    text-decoration: none;
    color: #454545;
}

#Nav {
    display: none;
    background-color: #D5C7BC ;
}

#Nav a {
    display: block;
    text-decoration: none;
    background-color: #454545;
    color: white;
}

#Nav a:hover {
    background-color: #454545;
    color: white;
}

#Nav > a {
    font-family: Leelawadee;
    padding: 2px;
    text-align: center;
}

/* Title */

#title {
    font-family: "Asap";
    text-align: center;
    font-size: 1.1rem;
    color: #454545;
    padding-top: 10px ;
}

/* Main */

.albumcover > a > img {
    border: 1px #81747A solid;
}

.albumcover {
    padding: 1vm;
}

#main > div > p {
    font-family: "Leelawadee";
    font-weight: bold;
    text-align: center;
}

/* Footer */

#footer > .icon {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    padding-left: 5px;
}

.footertext {
    text-align: center;
    font-size: 0.7rem;
    font-family: "Leelawadee";
    margin-top: 20px;

}