/* Main */
#main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

}

#main > article {
    font-family: Leelawadee;
    padding-top: 20px;
    margin-left: 10px;
}

article a {
    text-decoration: none;
}