/* Main */
#main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

}

#main > article {
    font-family: Leelawadee;
    padding-top: 20px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #123C69;
}