
table {
    width:100%;
    font-family: Leelawadee, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    margin-bottom: 5px;
}

th, td {
    padding: 7px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #454545;
    color: white;
}
tr:nth-child(odd) {
    background-color: #D5C7BC;
}
th {
    background-color: #D5C7BC;
    color: #454545;
    font-weight: bold;
}

address {
    font-family: Leelawadee, sans-serif;
    text-align: center;
    font-style: inherit;
    font-weight: bold;
}

@media only screen and (min-width: 1024px) {
    /*Navigation*/

    .navigationlink {
        position: absolute;
        right: 10px;
        top: 5px;
        text-decoration: none;
        color: #454545;
        visibility: visible;

    }

    #Nav {
        display: none;
    }

    .menuicon {
        display: none;
    }
}
