/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url(//db.onlinewebfonts.com/c/a772aa8a7d2a778d9a2a43cc6d96ada3?family=Leelawadee);



/* Root/All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: inherit;

}

html {
    font-size: 17px;
    background-color: #d5c7bc;
}

p {
    color: #454545;
    font-family: Leelawadee, sans-serif;
}

a {
    color: #123C69;
}


/* Layout */
.grid-container-body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 65px 65px auto 65px;
    grid-template-areas:
                "header header header"
                ". title ."
                ". main ."
                "footer footer footer";
}

#header {
    grid-area: header;
    border-bottom: 1px black solid;
}


#title {
    grid-area: title;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
    border-top: 1px black solid;
}


/* Header */

#header {
    position: fixed;
    width: 100%;
    background-color: #d5c7bc;
    padding-bottom: 3px;
}

#header > .icon {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    top: -1.75vh;
    padding-left: 5px;
}

.logo {
    text-align: center;

}

.navigationlink {
    visibility: hidden;
}


/*Navigation */

.menuicon > p{
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: -1vh;
    text-decoration: none;
    color: #454545;
}

#Nav {
    display: none;
    background-color: #D5C7BC ;
    width: 100%;
    overflow-x: hidden ;
}

#Nav a {
    display: block;
    text-decoration: none;
    background-color: #454545;
    color: white;
}

#Nav a:hover {
    background-color: #454545;
    color: white;
}

#Nav  a {
    font-family: Leelawadee, sans-serif;
    padding: 2px;
    text-align: center;
}

/* Title */

#title {
    font-family: "Asap", sans-serif;
    text-align: center;
    font-size: 1.1rem;
    color: #454545;
    padding-top: 10px ;
}

/* Main */

.albumcover > a > img {
    border: 1px #81747A solid;
}



#main > div > p {
    font-family: "Leelawadee", sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Footer */

#footer > .icon {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    padding-left: 5px;
}

.footertext {
    text-align: center;
    font-size: 0.7rem;
    font-family: "Leelawadee", sans-serif;
    margin-top: 20px;

}

@media only screen and (min-width: 1024px) {

    /* Layout */
    .grid-container-body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 80px 90px auto 80px;
        grid-template-areas:
                "header header header"
                ". title ."
                ". main ."
                "footer footer footer";
    }

    #header {
        grid-area: header;
        border-bottom: 1px black solid;
    }


    #title {
        grid-area: title;
    }

    #main {
        grid-area: main;
    }

    #footer {
        grid-area: footer;
        border-top: 1px black solid;
    }

    /* Header */

    .menuicon {
        display: none;
    }

    .navigationlink {
        position: absolute;
        right: 10px;
        top: 5px;
        text-decoration: none;
        color: #454545;
        visibility: visible;


    }
    .navigationlink:hover {
        background-color: #81747A;
    }
    /* Nav */

    #Nav {
        display: none;
    }




}